table {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    text-align: center;
    width: 20%;
    background: rgb(240,248,255);
}

td, th {
    border: 1px solid black;
    padding: 5px;
}

th {
    background: rgb(168, 218, 213);
}

tr:hover {
    background: rgb(168, 218, 213);
}